/* Модальное окно */

.modal .modal-body input {
  margin-bottom: 15px;
  width: 200px;

}

.modal .modal-body textarea {
  width: 400px;
  height: 80px;
  padding: 5px;
}

.container .navbar, .catalog .navbar {
  margin-bottom: 0;
  border: 0;
}

.header .phone {
  font-size: 24px;
  margin-right: 0;
  color: #337ab7;
  line-height: 25px;
  position: relative;
}

.header .phone{
  margin-top: 15px;
}

.header .phone a:nth-of-type(2) {
  font-size: 16px;
  text-decoration: none;
  margin-right: 0;
  border-bottom: 1px dashed #000080;
  position: absolute;
  right: 0;
}
.header .phone a:nth-of-type(2):hover {
  border-bottom: hidden;
}

.header .phone .phone-icon {
  top: 3px;
  right: 5px;
}

.header .glyphicon-envelope {
  right: 5px;
}

/* Каталог */

.catalog {
  background-color: #444;
  margin: 0;
}

.catalog .navbar .nav {
  display: flex;
  font-size: 16px;
  color: #d91906;
}

.catalog .navbar .nav a {
  color: #dadada;
}

.catalog .navbar .nav a:hover,
.catalog .navbar .nav a:focus {
  color: white;
  text-decoration: none;
  background-color: #d91906;
}

.catalog .navbar .nav .submenu-element {
  color: #333;
}

.catalog .navbar .nav .submenu {
  background-color: #dadada;
}

.catalog .navbar .nav .caret {
  margin-left: 5px;
}

.catalog .nav-mobile {
  display: none;
}

.catalog .nav-mobile .btn-menu {
  display: block;
  float: left;
  color: #dadada;
  font-size: 24px;
  line-height: 46px;
}

.catalog .dropdown .drowndown-menu {
  color: #dadada;
}

.navbar-form .search-icon {
  top: 2px;
  padding-right: 3px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.mobile-current-page-title {
  display: block;
  font-size: 22px;
  color: #dadada;
  line-height: 50px;
  text-align: center;
}

/* Джамботрон */

.jumbotron {
  text-align: center;
  position: relative;
}

.jumbotron .jumbo-title, .jumbotron p {
  color: #333;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/jumb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/*Товары из каталога*/

.thumbnail .product-thumbnail {
  width: 200px;
  height: 200px;
}

.thumbnail .caption {
  min-height: 200px;
}

.thumbnail h4, .thumbnail p {
  text-align: center;
}

.thumbnail .caption-wrapper {
  min-height: 165px;
}
.thumbnail .btn-order-wrapper {
  height: 35px;
}

/* Футер */

.footer {
  background-color: #444;
  padding-bottom: 20px;
  color: #dadada;
}

.footer .column {
  padding: 10px 0 10px 0;
}
.footer .footer-text {
  padding: 10px 5px;
}

.footer .footer-link {
  display: block;
  color: #dadada;
  padding: 5px;
  border-bottom: 1px solid #777;
}

.footer .footer-link-list, .footer .col-md-4:last-child {
  padding-top: 30px;
}
.footer .col-md-4:last-child {
  text-align: right;
}

.footer .col-md-4:last-child div {
  padding-bottom: 10px;
}

.footer .col-md-4:last-child span, .footer .col-md-4:last-child a {
  color: #dadada;
}

.footer .col-md-4:last-child span {
  top: 2px;
  padding-right: 5px;
}


.footer .footer-link span {
  padding-right: 5px;
}

.footer a:hover {
  color: #d91906;
}

/*О компании*/

.about-company {
  margin-bottom: 15px;
}
.about-header,
.about-text,
.deivery-header,
.details-header,
.details p,
.contacts .contacts-header,
.contacts .contacts-info,
.contacts h4 {
  padding-left: 10px;
  padding-right: 10px;
}

.contacts-info {
  margin: 5px 0;
}
.about-header {
  margin-top: 0;
}
.about-header,
.contacts-header {
  border-bottom: 1px solid #888;
  line-height: 34px;
}

.production  {
  margin-top: 35px;
  color: #337ab7;
}
.footer .container .production a {
  color: #337ab7;
}

/* Медиа-запросы */
@media (max-width: 995px) {
  .navbar-form {
    display: none;
  }
}
@media (max-width: 768px) {
  .catalog .nav-desktop {
    display: none;
  }
  .header {
    text-align: center;
  }
  .thumbnail .caption,
  .thumbnail .caption-wrapper,
  .thumbnail .btn-order-wrapper {
    min-height: 0;
  }
  .catalog .nav-mobile {
    display: block;
  }

  .header .phone a:nth-of-type(2) {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    text-decoration: underline;
  }
}
